<ion-header>
  <ion-toolbar color="primary">
    <ion-title>CADASTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <div class="center-container">
    <form id="cadastroForm" (ngSubmit)="onSubmit()" [formGroup]="cadastroForm">
      <ion-list>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-input
            label="Email"
            placeholder="Digite seu email"
            formControlName="email"
            id="email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="key" slot="start"></ion-icon>
          <ion-input
            label="Senha"
            placeholder="Digite sua senha"
            type="password"
            formControlName="password"
            id="password"
          ></ion-input>
        </ion-item>
      </ion-list>
      <ion-button
        type="submit"
        [disabled]="!cadastroForm.valid"
        expand="block"
        class="ion-margin-top"
      >
        Cadastrar
      </ion-button>

      <ion-button
        (click)="onClickBtnLogin()"
        expand="block"
        class="ion-margin-top"
        >Login
      </ion-button>
    </form>
  </div>
</ion-content>
