<ion-header>
  <ion-toolbar color="primary">
    <ion-title>CADASTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <div class="center-container">
    <form id="cadastroForm" (ngSubmit)="onSubmit()" [formGroup]="cadastroForm">
      <ion-list>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-input
            label="Email"
            placeholder="Digite seu email"
            formControlName="email"
            id="email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="key" slot="start"></ion-icon>
          <ion-input
            label="Senha"
            placeholder="Digite sua senha"
            type="password"
            formControlName="password"
            id="password"
          ></ion-input>
        </ion-item>
      </ion-list>
      @if (cadastroForm.get('email')?.invalid && cadastroForm.get('email')?.dirty) {
          <ion-text color="danger">
            <small>Email inválido</small>
          </ion-text>
        }
        @if (cadastroForm.get('password')?.invalid && cadastroForm.get('password')?.dirty) {
          <ion-text color="danger">
            <small>Senha inválida (mínimo 6 caracteres)</small>
          </ion-text>
        }
      <ion-button
        type="submit"
        [disabled]="!cadastroForm.valid"
        expand="block"
        class="ion-margin-top"
      >
        Cadastrar
      </ion-button>

      <ion-button
        (click)="onClickBtnLogin()"
        expand="block"
        class="ion-margin-top"
        >Login
      </ion-button>
    </form>
  </div>
</ion-content>
