<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>GestPro</ion-title>
    </ion-toolbar>
    <ion-content class="ion-padding">Home</ion-content>
    <ion-content class="ion-padding">Pendentes</ion-content>
    <ion-content class="ion-padding">Botafogo</ion-content>
    <ion-content class="ion-padding">Vasgo da Gama</ion-content>
  </ion-header>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>GestPro</ion-title>
    </ion-toolbar>
  </ion-header>
</div>
